<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">  
    <link rel="stylesheet" href="/static/css/table.css">  
    <link href="/static/extra/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="/static/extra/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="/static/extra/swiper/swiper-bundle.min.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/11dbf52181.js" crossorigin="anonymous"></script>
    
   
    
    
    {%block 'link' %}{% endblock %}
  
       <!-- Agregar aquí tus enlaces a archivos CSS externos, fuentes, etc. -->

</head>

<body>

  {% load static %}

  <!-- NAVBAR -->
  {% block navbar %}
     
      {% include "includes/navbar.html" %}
   
  {% endblock %}

 <!-- HEADER -->
  {% block header %}
    
  {% endblock %}
       
<main>
    <!-- Contenido principal de tus páginas -->
    {% block content %}
   
    {% endblock %}
</main>


   {% block footer %}
  
    {% include "includes/footer.html" %}
   {% endblock %}


 <!-- JS Files -->

  <script src="/static/js/index.js"></script>
  <script src="/static/js/video"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script>
  <script src="/static/extra/purecounter/purecounter_vanilla.js"></script>
  <script src="/static/extra/aos/aos.js"></script>
  <script src="/static/extra/glightbox/js/glightbox.min.js"></script>
  <script src="/static/extra/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/static/extra/swiper/swiper-bundle.min.js"></script>
  <script src="/static/extra//waypoints/noframework.waypoints.js"></script>
  <script src="/static/extra/php-email-form/validate.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  {% if messages %}
  {% for m in messages%}
  
  <script>
    Swal.fire({
        "title": "Felicitaciones",
        "text": "{{m}}",
        "icon": "success",
    })
  </script>

  
  {% endfor %}
        {% endif %}




</body>
</html>